[package]
name = "lapack-src"
version = "0.3.0"
license = "Apache-2.0/MIT"
authors = [
    "Ivan Ukhov <ivan.ukhov@gmail.com>",
    "Toshiki Teramura <toshiki.teramura@gmail.com>",
]
description = "The package provides a LAPACK source of choice."
documentation = "https://docs.rs/lapack-src"
homepage = "https://github.com/blas-lapack-rs/lapack-src"
repository = "https://github.com/blas-lapack-rs/lapack-src"
readme = "README.md"
categories = ["science"]
keywords = ["linear-algebra"]

[features]
accelerate = ["accelerate-src"]
intel-mkl = ["intel-mkl-src"]
netlib = ["netlib-src"]
openblas = ["openblas-src"]

[dependencies.accelerate-src]
version = "0.3"
optional = true

[dependencies.intel-mkl-src]
version = "0.4"
optional = true

[dependencies.netlib-src]
version = "0.7"
optional = true

[dependencies.openblas-src]
version = "0.7"
optional = true
